<h2>Total Park Results: <%=@parks.size %></h2>

<% @parks.each do |park| %>
  <section class='park'>
    <h2 class='name'><% park.name %></h2>
    <h2 class='description'><% park.description %></h2>
    <h2 class='directions'><% park.directions %></h2>
    <h2 class='hours'><% park.hours %></h2>
  </section>
<% end %>
